# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# SSH keys
*.pem
*.key
id_rsa
id_rsa.pub
devops-task-key
devops-task-key.pub

# Node
node_modules/
npm-debug.log

# OS/editor
.DS_Store
.vscode/
.idea/